kestra/nhanes_low_protein_ingestion.yaml
id: nhanes_low_protein_ingestion
namespace: nhanes
description: |
  Yearly CDC/NCHS ingestion for continuous NHANES 2003-2018 dietary, demographics, and
  fasting-glucose files plus the public-use linked mortality files. This flow builds a
  BigQuery cohort for validating the low-protein mortality hypothesis on the 2003-2018
  linked-mortality window.
  It is deliberately not an exact reproduction of the 2014 Levine paper, because that paper
  used NHANES III rather than continuous NHANES 2003-2018.

labels:
  domain: nhanes
  use_case: low_protein_validation
  source: cdc

triggers:
  - id: yearly_cdc_check
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 3 15 1 *"
    timezone: Asia/Kuala_Lumpur
    allowConcurrent: false
    recoverMissedSchedules: LAST

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
      bucket: "{{ kv('GCP_BUCKET_NAME') }}"

tasks:
  - id: bootstrap_gcp
    type: io.kestra.plugin.core.flow.Subflow
    namespace: nhanes
    flowId: gcp_setup
    wait: true
    transmitFailed: true

  - id: build_source_catalog_and_stage_files
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install --quiet pandas pyarrow requests
    inputFiles:
      build_nhanes_assets.py: |
        import json
        import re
        from io import BytesIO, StringIO
        from pathlib import Path

        import pandas as pd
        import requests
        from requests.adapters import HTTPAdapter
        from urllib3.util.retry import Retry


        XPT_BASE_URL = "https://wwwn.cdc.gov/Nchs/Data/Nhanes/Public/{cycle_start_year}/DataFiles/{file_code}.xpt"
        MORTALITY_INDEX_URL = "https://www.cdc.gov/nchs/linked-data/mortality-files/index.html"
        MORTALITY_LISTING_URL = "https://ftp.cdc.gov/pub/Health_Statistics/NCHS/datalinkage/linked_mortality/"

        CYCLES = [
            {"cycle_start_year": 2003, "cycle_end_year": 2004, "suffix": "C"},
            {"cycle_start_year": 2005, "cycle_end_year": 2006, "suffix": "D"},
            {"cycle_start_year": 2007, "cycle_end_year": 2008, "suffix": "E"},
            {"cycle_start_year": 2009, "cycle_end_year": 2010, "suffix": "F"},
            {"cycle_start_year": 2011, "cycle_end_year": 2012, "suffix": "G"},
            {"cycle_start_year": 2013, "cycle_end_year": 2014, "suffix": "H"},
            {"cycle_start_year": 2015, "cycle_end_year": 2016, "suffix": "I"},
            {"cycle_start_year": 2017, "cycle_end_year": 2018, "suffix": "J"},
        ]

        ASSET_DEFINITIONS = {
            "demo": {"template": "DEMO_{suffix}", "file_format": "XPT"},
            "dr1tot": {"template": "DR1TOT_{suffix}", "file_format": "XPT"},
            "dr2tot": {"template": "DR2TOT_{suffix}", "file_format": "XPT"},
            "dr1iff": {"template": "DR1IFF_{suffix}", "file_format": "XPT"},
            "dr2iff": {"template": "DR2IFF_{suffix}", "file_format": "XPT"},
            # 2003-2004 fasting glucose is published under the legacy Lab 10 AM naming.
            "glu": {
                "template": "GLU_{suffix}",
                "file_format": "XPT",
                "overrides": {"C": "L10AM_C"},
            },
        }

        # CDC's public-use NHANES mortality files are fixed-width DAT files. The linked-mortality
        # pages and dictionary identify the variables, but not the exact fwf layout inline; the
        # positions below are the standard NHANES public-LMF layout used for these adult public-use
        # fields.
        MORTALITY_COLSPECS = [
            (0, 14),   # SEQN
            (14, 15),  # ELIGSTAT
            (15, 16),  # MORTSTAT
            (16, 19),  # UCOD_LEADING
            (19, 20),  # DIABETES
            (20, 21),  # HYPERTEN
            (42, 45),  # PERMTH_INT
            (45, 48),  # PERMTH_EXM
        ]
        MORTALITY_COLUMNS = [
            "SEQN",
            "ELIGSTAT",
            "MORTSTAT",
            "UCOD_LEADING",
            "DIABETES",
            "HYPERTEN",
            "PERMTH_INT",
            "PERMTH_EXM",
        ]


        def make_session() -> requests.Session:
            session = requests.Session()
            retry = Retry(
                total=5,
                backoff_factor=1.0,
                status_forcelist=[429, 500, 502, 503, 504],
                allowed_methods=["GET", "HEAD"],
            )
            adapter = HTTPAdapter(max_retries=retry)
            session.mount("http://", adapter)
            session.mount("https://", adapter)
            session.headers.update(
                {
                    "User-Agent": "kestra-nhanes-low-protein-ingestion/1.0",
                    "Accept": "*/*",
                }
            )
            return session


        def fetch_bytes(session: requests.Session, url: str) -> bytes:
            response = session.get(url, timeout=180)
            response.raise_for_status()
            return response.content


        def fetch_text(session: requests.Session, url: str) -> str:
            response = session.get(url, timeout=180)
            response.raise_for_status()
            return response.text


        def read_xpt(session: requests.Session, url: str) -> pd.DataFrame:
            content = fetch_bytes(session, url)
            df = pd.read_sas(BytesIO(content), format="xport")
            return df


        def read_mortality_file(session: requests.Session, url: str) -> pd.DataFrame:
            text = fetch_bytes(session, url).decode("utf-8", errors="ignore")
            df = pd.read_fwf(
                StringIO(text),
                colspecs=MORTALITY_COLSPECS,
                names=MORTALITY_COLUMNS,
                dtype=str,
            )
            for column in ["SEQN", "ELIGSTAT", "MORTSTAT", "DIABETES", "HYPERTEN", "PERMTH_INT", "PERMTH_EXM"]:
                df[column] = pd.to_numeric(df[column].str.strip(), errors="coerce")
            df["UCOD_LEADING"] = df["UCOD_LEADING"].astype("string").str.strip()
            return df


        def add_common_metadata(df: pd.DataFrame, cycle: dict, source_url: str, file_code: str, asset_type: str) -> pd.DataFrame:
            standardized = df.copy()
            standardized.columns = [str(col).upper() for col in standardized.columns]
            standardized["CYCLE_START_YEAR"] = cycle["cycle_start_year"]
            standardized["CYCLE_END_YEAR"] = cycle["cycle_end_year"]
            standardized["CYCLE_LABEL"] = f"{cycle['cycle_start_year']}-{cycle['cycle_end_year']}"
            standardized["FILE_CODE"] = file_code
            standardized["ASSET_TYPE"] = asset_type
            standardized["SOURCE_URL"] = source_url
            return standardized


        def mortality_release_year_for_cycle(listing_html: str, cycle_start_year: int, cycle_end_year: int) -> int:
            pattern = rf"NHANES_{cycle_start_year}_{cycle_end_year}_MORT_(\d{{4}})_PUBLIC\.dat"
            release_years = re.findall(pattern, listing_html)
            if not release_years:
                raise RuntimeError(
                    f"Could not determine the latest public-use mortality release year for NHANES {cycle_start_year}-{cycle_end_year}."
                )
            return max(int(year) for year in release_years)


        def mortality_followup_text(index_html: str) -> str | None:
            match = re.search(
                r"updated with mortality follow-up data through ([^.]+?\d{4})",
                index_html,
                flags=re.IGNORECASE,
            )
            return match.group(1).strip() if match else None


        def concat_frames(frames: list[pd.DataFrame]) -> pd.DataFrame:
            if not frames:
                return pd.DataFrame()
            return pd.concat(frames, ignore_index=True, sort=True)


        def main() -> None:
            Path("metadata").mkdir(parents=True, exist_ok=True)
            Path("stage").mkdir(parents=True, exist_ok=True)

            session = make_session()
            mortality_index_html = fetch_text(session, MORTALITY_INDEX_URL)
            mortality_listing_html = fetch_text(session, MORTALITY_LISTING_URL)
            mortality_followup_available_through = mortality_followup_text(mortality_index_html)
            cycle_release_years = {}

            domain_frames = {
                "demo": [],
                "dr1tot": [],
                "dr2tot": [],
                "dr1iff": [],
                "dr2iff": [],
                "glu": [],
                "mortality": [],
            }
            source_records = []

            for cycle in CYCLES:
                for asset_type, asset_definition in ASSET_DEFINITIONS.items():
                    file_code = asset_definition.get("overrides", {}).get(
                        cycle["suffix"],
                        asset_definition["template"].format(suffix=cycle["suffix"]),
                    )
                    source_url = XPT_BASE_URL.format(
                        cycle_start_year=cycle["cycle_start_year"],
                        file_code=file_code,
                    )
                    frame = read_xpt(session, source_url)
                    frame = add_common_metadata(frame, cycle, source_url, file_code, asset_type)
                    domain_frames[asset_type].append(frame)

                    source_records.append(
                        {
                            "asset_type": asset_type,
                            "file_code": file_code,
                            "file_format": asset_definition["file_format"],
                            "cycle_start_year": cycle["cycle_start_year"],
                            "cycle_end_year": cycle["cycle_end_year"],
                            "cycle_label": f"{cycle['cycle_start_year']}-{cycle['cycle_end_year']}",
                            "source_url": source_url,
                            "mortality_public_release_year": None,
                            "mortality_followup_available_through": mortality_followup_available_through,
                            "paper_comparability_note": "2014 Levine paper used NHANES III, so this continuous NHANES 2003-2018 pipeline is a validation extension rather than an exact reproduction.",
                        }
                    )

                cycle_public_release_year = mortality_release_year_for_cycle(
                    mortality_listing_html,
                    cycle["cycle_start_year"],
                    cycle["cycle_end_year"],
                )
                cycle_release_years[f"{cycle['cycle_start_year']}-{cycle['cycle_end_year']}"] = cycle_public_release_year

                mortality_file_name = (
                    f"NHANES_{cycle['cycle_start_year']}_{cycle['cycle_end_year']}"
                    f"_MORT_{cycle_public_release_year}_PUBLIC.dat"
                )
                mortality_url = MORTALITY_LISTING_URL + mortality_file_name
                mortality_frame = read_mortality_file(session, mortality_url)
                mortality_frame = add_common_metadata(
                    mortality_frame,
                    cycle,
                    mortality_url,
                    mortality_file_name.replace(".dat", ""),
                    "mortality",
                )
                mortality_frame["MORTALITY_PUBLIC_RELEASE_YEAR"] = cycle_public_release_year
                domain_frames["mortality"].append(mortality_frame)

                source_records.append(
                    {
                        "asset_type": "mortality",
                        "file_code": mortality_file_name.replace(".dat", ""),
                        "file_format": "DAT",
                        "cycle_start_year": cycle["cycle_start_year"],
                        "cycle_end_year": cycle["cycle_end_year"],
                        "cycle_label": f"{cycle['cycle_start_year']}-{cycle['cycle_end_year']}",
                        "source_url": mortality_url,
                        "mortality_public_release_year": cycle_public_release_year,
                        "mortality_followup_available_through": mortality_followup_available_through,
                        "paper_comparability_note": "2014 Levine paper used NHANES III, so this continuous NHANES 2003-2018 pipeline is a validation extension rather than an exact reproduction.",
                    }
                )

            source_catalog = pd.DataFrame(source_records).sort_values(
                by=["cycle_start_year", "asset_type", "file_code"]
            )
            source_catalog.to_parquet("stage/source_catalog_2003_2018.parquet", index=False)

            for asset_type, frames in domain_frames.items():
                combined = concat_frames(frames)
                combined.to_parquet(f"stage/{asset_type}_2003_2018.parquet", index=False)

            manifest = {
                "dataset_window": "2003-2018",
                "cycles": [f"{cycle['cycle_start_year']}-{cycle['cycle_end_year']}" for cycle in CYCLES],
                "nhanes_assets": list(ASSET_DEFINITIONS.keys()),
                "public_mortality_release_year_by_cycle": cycle_release_years,
                "mortality_followup_available_through": mortality_followup_available_through,
                "linked_mortality_note": "CDC currently exposes NHANES linked mortality for survey years 1999-2018; the public-use files are distributed as the latest available public release on the linked mortality FTP listing.",
                "paper_comparability_note": "The original 2014 Levine paper analyzed NHANES III rather than continuous NHANES 2003-2018.",
            }
            Path("metadata/manifest.json").write_text(json.dumps(manifest, indent=2), encoding="utf-8")


        if __name__ == "__main__":
            main()
    commands:
      - python build_nhanes_assets.py
    outputFiles:
      - metadata/*.json
      - stage/*.parquet

  - id: upload_manifest
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['metadata/manifest.json'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/metadata/manifest.json"

  - id: upload_source_catalog
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/source_catalog_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/source_catalog_2003_2018.parquet"

  - id: upload_demo
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/demo_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/demo_2003_2018.parquet"

  - id: upload_dr1tot
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/dr1tot_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr1tot_2003_2018.parquet"

  - id: upload_dr2tot
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/dr2tot_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr2tot_2003_2018.parquet"

  - id: upload_dr1iff
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/dr1iff_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr1iff_2003_2018.parquet"

  - id: upload_dr2iff
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/dr2iff_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr2iff_2003_2018.parquet"

  - id: upload_glu
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/glu_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/glu_2003_2018.parquet"

  - id: upload_mortality
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.build_source_catalog_and_stage_files.outputFiles['stage/mortality_2003_2018.parquet'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/mortality_2003_2018.parquet"

  - id: load_source_catalog
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_source_catalog_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/source_catalog_2003_2018.parquet"

  - id: load_demo
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_demo_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/demo_2003_2018.parquet"

  - id: load_dr1tot
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr1tot_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr1tot_2003_2018.parquet"

  - id: load_dr2tot
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr2tot_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr2tot_2003_2018.parquet"

  - id: load_dr1iff
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr1iff_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr1iff_2003_2018.parquet"

  - id: load_dr2iff
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr2iff_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/dr2iff_2003_2018.parquet"

  - id: load_glu
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_glu_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/glu_2003_2018.parquet"

  - id: load_mortality
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_mortality_2003_2018"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE
    from:
      - "gs://{{ kv('GCP_BUCKET_NAME') }}/nhanes/low_protein_validation/current/stage/mortality_2003_2018.parquet"

  - id: build_validation_cohort
    type: io.kestra.plugin.gcp.bigquery.Query
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_validation_cohort_2003_2018"
    writeDisposition: WRITE_TRUNCATE
    sql: |
      WITH demo AS (
        SELECT
          *
        FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_demo_2003_2018`
      ),
      dr1tot AS (
        SELECT
          *
        FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr1tot_2003_2018`
      ),
      dr2tot AS (
        SELECT
          *
        FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr2tot_2003_2018`
      ),
      mortality AS (
        SELECT
          *
        FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_mortality_2003_2018`
      ),
      glu AS (
        SELECT
          *
        FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_glu_2003_2018`
      ),
      joined AS (
        SELECT
          d.SEQN,
          d.CYCLE_START_YEAR,
          d.CYCLE_END_YEAR,
          d.CYCLE_LABEL,
          d.SDDSRVYR,
          d.RIDAGEYR AS AGE_YEARS,
          d.RIAGENDR AS SEX_CODE,
          d.RIDRETH1 AS RACE_ETHNICITY_CODE,
          d.DMDEDUC2 AS EDUCATION_CODE,
          d.INDFMPIR AS POVERTY_INCOME_RATIO,
          d.SDMVPSU,
          d.SDMVSTRA,
          d.WTINT2YR,
          d.WTMEC2YR,
          t1.WTDRD1,
          t2.WTDR2D,
          t1.DR1TKCAL,
          t1.DR1TPROT,
          t1.DR1TCARB,
          t1.DR1TTFAT,
          t2.DR2TKCAL,
          t2.DR2TPROT,
          t2.DR2TCARB,
          t2.DR2TTFAT,
          g.WTSAF2YR,
          g.LBXGLU,
          g.LBDGLUSI,
          g.PHAFSTHR,
          g.PHAFSTMN,
          m.ELIGSTAT,
          m.MORTSTAT,
          m.UCOD_LEADING,
          m.DIABETES,
          m.HYPERTEN,
          m.PERMTH_INT,
          m.PERMTH_EXM,
          m.MORTALITY_PUBLIC_RELEASE_YEAR
        FROM demo AS d
        LEFT JOIN dr1tot AS t1
          USING (SEQN, CYCLE_START_YEAR, CYCLE_END_YEAR)
        LEFT JOIN dr2tot AS t2
          USING (SEQN, CYCLE_START_YEAR, CYCLE_END_YEAR)
        LEFT JOIN glu AS g
          USING (SEQN, CYCLE_START_YEAR, CYCLE_END_YEAR)
        LEFT JOIN mortality AS m
          USING (SEQN, CYCLE_START_YEAR, CYCLE_END_YEAR)
        WHERE d.CYCLE_START_YEAR BETWEEN 2003 AND 2017
          AND d.RIDAGEYR >= 50
      )
      SELECT
        *,
        SAFE_DIVIDE(DR1TPROT * 4.0, NULLIF(DR1TKCAL, 0)) AS PROTEIN_PCT_KCAL_DAY1,
        CASE
          WHEN SAFE_DIVIDE(DR1TPROT * 4.0, NULLIF(DR1TKCAL, 0)) < 0.10 THEN 'LOW'
          WHEN SAFE_DIVIDE(DR1TPROT * 4.0, NULLIF(DR1TKCAL, 0)) < 0.20 THEN 'MODERATE'
          ELSE 'HIGH'
        END AS PROTEIN_GROUP_DAY1,
        CASE
          WHEN DR2TKCAL IS NOT NULL AND DR2TPROT IS NOT NULL
            THEN SAFE_DIVIDE(((DR1TPROT + DR2TPROT) / 2.0) * 4.0, NULLIF((DR1TKCAL + DR2TKCAL) / 2.0, 0))
        END AS PROTEIN_PCT_KCAL_MEAN_2DAY,
        CASE
          WHEN AGE_YEARS BETWEEN 50 AND 65 THEN '50_65'
          WHEN AGE_YEARS >= 66 THEN '66_PLUS'
          ELSE NULL
        END AS PAPER_AGE_BAND,
        SAFE_DIVIDE(WTMEC2YR, 8.0) AS WTMEC16YR,
        SAFE_DIVIDE(WTDRD1, 8.0) AS WTDRD1_16YR,
        SAFE_DIVIDE(WTDR2D, 8.0) AS WTDR2D_16YR,
        SAFE_DIVIDE(WTSAF2YR, 8.0) AS WTSAF16YR,
        CAST(MORTSTAT = 1 AS BOOL) AS DIED_DURING_FOLLOWUP,
        CAST(UCOD_LEADING = '002' AS BOOL) AS CANCER_DEATH_FLAG,
        CAST(DIABETES = 1 AS BOOL) AS DIABETES_MCOD_FLAG,
        CASE
          WHEN LBXGLU >= 126 THEN 'DIABETES_RANGE'
          WHEN LBXGLU >= 100 THEN 'PREDIABETES_RANGE'
          WHEN LBXGLU IS NULL THEN 'MISSING'
          ELSE 'NORMAL_RANGE'
        END AS FASTING_GLUCOSE_CATEGORY,
        'Original paper used NHANES III rather than continuous NHANES 2003-2018; this cohort is for validation and extension, not exact replication.' AS COMPARABILITY_NOTE
      FROM joined
      WHERE ELIGSTAT = 1
        AND DR1TKCAL IS NOT NULL
        AND DR1TPROT IS NOT NULL

  - id: build_validation_summary
    type: io.kestra.plugin.gcp.bigquery.Query
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_validation_summary_2003_2018"
    writeDisposition: WRITE_TRUNCATE
    sql: |
      SELECT
        PAPER_AGE_BAND,
        PROTEIN_GROUP_DAY1,
        COUNT(*) AS SAMPLE_N,
        SUM(WTDRD1_16YR) AS WEIGHTED_POPULATION,
        SUM(CASE WHEN DIED_DURING_FOLLOWUP THEN WTDRD1_16YR ELSE 0 END) AS WEIGHTED_ALL_CAUSE_DEATHS,
        SUM(CASE WHEN CANCER_DEATH_FLAG THEN WTDRD1_16YR ELSE 0 END) AS WEIGHTED_CANCER_DEATHS,
        AVG(PERMTH_INT) AS AVG_FOLLOWUP_MONTHS_FROM_INTERVIEW,
        AVG(PERMTH_EXM) AS AVG_FOLLOWUP_MONTHS_FROM_EXAM
      FROM `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_validation_cohort_2003_2018`
      GROUP BY PAPER_AGE_BAND, PROTEIN_GROUP_DAY1

  - id: publish_tables
    type: io.kestra.plugin.core.debug.Return
    format: |
      {
        "source_catalog_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_source_catalog_2003_2018",
        "demo_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_demo_2003_2018",
        "dr1tot_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr1tot_2003_2018",
        "dr2tot_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr2tot_2003_2018",
        "dr1iff_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr1iff_2003_2018",
        "dr2iff_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_dr2iff_2003_2018",
        "glu_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_glu_2003_2018",
        "mortality_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_mortality_2003_2018",
        "validation_cohort_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_validation_cohort_2003_2018",
        "validation_summary_table": "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.nhanes_lp_validation_summary_2003_2018"
      }
